annotated-types
attrs
certifi
charset-normalizer
dotty-dict
fpdf 
flywheel-gear-toolkit
flywheel-gears
flywheel-sdk 
fw-client
fw-http-client
fw-utils
idna
jsonschema-specifications
jsonschema
matplotlib
matplotlib-inline
numpy
packaging
pandas
PyPDF2
pydantic-core
pydantic
python-dateutil
pytz
referencing
requests-toolbelt
reportlab
requests
rfc3987
rpds-py
scipy
seaborn
statsmodels
six
typing-extensions
tzdata
tzlocal
urllib3
scikit-learn
PyYAML
